// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$mylightblue: rgb(108, 218, 233);

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: $mylightblue;
}

.container {
  height: 100vh;
  width: 720px;
  margin: auto;
  padding: 30px;
  background-color: rgba(174, 248, 242, 0.11);
}

.container > p {
  margin: 0px 0px 20px 0px;
  color: rgba(255, 255, 255, 0.459);
}

.container h1 {
  border-bottom: 1px solid orange;
  padding-bottom: 30px;
  margin-bottom: 20px;
  font-size: x-large;
  text-transform: uppercase;
}

.flex-margin-20 {
  display: flex;
  margin-top: 30px;
  align-items: center;
}

.letters{
  margin-top: 20px;
  justify-content: space-around;
};

.word-input-form{
  justify-content: space-between;
}

letter {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 3px solid rgba(0, 5, 5, 0.26);
  width: 20px;
  height: 20px;
  background-color: darkslategray;
  color: rgb(1, 34, 34);
  padding: 20px;
  text-align: center;
  margin-right: 20px;
  font-weight: bold;
  background-image: linear-gradient(#0522255e, #0c2f3800);
  background-image: linear-gradient(to bottom,#ffffff98, #ffffff00);
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.205);
}

span {
  color: white;
  font-weight: bold;
  font-size: large;
  margin: 0px 10px;
}

letter:last-child {
  margin: 0px;
}

form {
  margin:  0px;
  width: 100%;
  justify-content: center;
}

input {
  margin:  0px;
  padding: 0px;
}

a {
  padding: 8px;
  background-color: $mylightblue;
  border-radius: 4px;
  text-decoration: none;
  color: darkslategray;
  transition: 0.5s;
}


a:hover {
  text-decoration: none;
  color: white;
  background-color: orange;
}